# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Mac OS
.DS_Store

# Intellij
out/
/.settings/
*.iml
*.iws
*.ipr
.idea/

scratch
bin/env

local-resources/
